---
import type { HTMLAttributes } from "astro/types";

export interface Option {
  image: string;
  title: string;
  description: string;
  date: string;
}

export interface Data {
  data: Option;
}

type Props = Data & HTMLAttributes<"button">;

const { data, class: className, ...props } = Astro.props;
---

<button
  class="flex flex-row gap-4 items-center px-2 py-4 text-start hover:bg-neutral-900"
  {...props}
>
  <div class="min-w-fit">
    <img
      src={data.image}
      alt="Suncard-img"
      class="sm:w-16 w-12 aspect-square rounded-full object-left-top object-cover"
    />
  </div>
  <div class="flex flex-col justify-center grow overflow-hidden">
    <h4 class="text-base truncate overflow-hidden">{data.title}</h4>
    <p class="truncate text-sm text-neutral-400">{data.description}</p>
  </div>
  <div class="flex items-center min-w-fit">
    <span>{data.date}</span>
  </div>
</button>
