---
import Badge from "../components/Common/Badge.astro";
import MainLayout from "../layouts/Main.layout.astro";

let skills = [
  {
    icon: "simple-icons:html5",
    label: "HTML",
  },
  {
    icon: "simple-icons:css3",
    label: "CSS",
  },
  {
    icon: "simple-icons:javascript",
    label: "Javasript",
  },
  {
    icon: "simple-icons:vuedotjs",
    label: "Vue",
  },
  {
    icon: "simple-icons:react",
    label: "React",
  },
  {
    icon: "simple-icons:nodedotjs",
    label: "Node",
  },
  {
    icon: "fontisto:mysql",
    label: "MySQL",
  },
  {
    icon: "fontisto:java",
    label: "Java",
  },
];
---

<MainLayout>
  <section class="flex flex-col bg-photo-profile bg-contain bg-no-repeat grow">
    <div
      class="mt-[40vh] rounded-t-[theme(spacing.14)] bg-neutral-950 text-white px-8 py-16"
    >
      <div class="pb-10">
        <h2 class="text-xl font-bold">Henry Santamaria C</h2>
        <p class="text-sm text-neutral-400">Junior Developer</p>
      </div>
      <div class="pb-5">
        <h4 class="text-base font-bold">Sobre mi</h4>
        <p class="text-sm text-neutral-400">
          Como programador junior, poseo conocimientos en JavaScript y
          frameworks tales como Vue y React, así como bases en lenguajes
          fuertemente tipados como VB .NET, Java y C++. Además, tengo
          conocimientos en el manejo de bases de datos, como MySQL, SQL Server y
          PostgreSQL. Siempre dispuesto al aprendizaje continuo y aportar mis
          habilidades en cualquier proyecto, asumiendo nuevos retos que me
          permitan crecer como profesional.
        </p>
      </div>
      <div class="pb-5">
        <h4 class="text-base font-bold">Habilidades</h4>
        <div class="flex gap-3 flex-wrap py-3">
          {skills.map((skill) => <Badge data={skill} class="select-none" />)}
        </div>
      </div>
    </div>
  </section>
</MainLayout>
