---
import { Icon } from "astro-icon";
import type { HTMLAttributes } from "astro/types";

export interface Option {
  label: string;
  icon: string;
  path: string;
}

export interface Data {
  data: Option;
}

type Props = Data & HTMLAttributes<"a">;

const { data, ...props } = Astro.props;
const { pathname } = Astro.url;
const isActive =
  data.path === pathname || data.path === pathname.replace(/\/$/, "");
const activeClass = "bg-purple-700 rounded-full";
---

<a href={data.path} title={data.label} {...props}>
  <div class={`w-12 p-2 ${isActive ? activeClass : ""}`}>
    <Icon name={data.icon} />
  </div>
  <p>{data.label}</p>
</a>
