---
import NavigatorLink from "./NavigatorLink.astro";

let menu = [
  {
    icon: "uil:user",
    label: "Profile",
    path: "/",
  },
  {
    icon: "uil:folder",
    label: "Projects",
    path: "/projects",
  },
  {
    icon: "uil:suitcase",
    label: "Experience",
    path: "/experience",
  },
  {
    icon: "uil:comment-dots",
    label: "Contact",
    path: "/contact",
  },
];
---

<div
  class="w-full border-t-2 border-neutral-800 bg-neutral-950 sticky bottom-0"
>
  <div class="flex justify-between items-end px-8 py-6 w-full">
    {
      menu.map((option) => (
        <>
          <NavigatorLink class="cursor-pointer text-white" data={option} />
        </>
      ))
    }
  </div>
</div>
