---
import { Icon } from "astro-icon";
import type { HTMLAttributes } from "astro/types";

export interface Option {
  label: string;
  icon: string;
  path: string;
}

export interface Data {
  data: Option;
}

type Props = Data & HTMLAttributes<"a">;

const { data, class: className, ...props } = Astro.props;
const { pathname } = Astro.url;
const isActive =
  data.path === pathname || data.path === pathname.replace(/\/$/, "");
---

<a href={data.path} title={data.label} class:list={[className]} {...props}>
  <div class="w-8" class:list={[{ "text-purple-700": isActive }]}>
    <Icon name={data.icon} />
  </div>
</a>
